[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = ">=1.2.5,<1.3"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
start = "python -m testbot"
