[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = {git = "https://github.com/Rapptz/discord.py", ref = "3f06f24"}

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
start = "python -m testbot"
